@font-face{
	font-family: baloobhai;
	scr:url('font/BalooBhai2-Medium.ttf');
}
@font-face{
	font-family:inconsolata;
	src:url('font/InconsolataBold.ttf');
} 
@font-face{
	font-family: lobster;
	scr:url('font/Lobster-Regular.ttf');
}